.mloyalty-faq-item {
  margin-bottom: 18px;

  .mloyalty-faq-arrow-right {
    margin-left: 12px;
    display: block;
  }
  .mloyalty-faq-arrow-down {
    display: none;
  }

  .mloyalty-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #000000;
  }

  .mloyalty-answer {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #808080;
  }
}

.mloyalty-faq-item.active {
  .mloyalty-faq-arrow-right {
    display: none;
  }
  .mloyalty-faq-arrow-down {
    display: block;
    margin-left: 12px;
  }
}
