.mloyalty-panel-body {
  padding-top: 60px;
}

.mloyalty-panel-body,
.mloyalty-panel-burger-body,
.ml-perview-card {
  text-align: left;
  display: block;

  .pb {
    padding: 16px 32px 32px;
  }

  .section {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
  }

  .design-carousel {
    margin-bottom: 48px;
  }

  .par {
    cursor: pointer;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4d4d4d;
    margin-right: 10px;
    margin-bottom: 10px;

    input,
    input:focus,
    input:active {
      border: none;
      outline: none;
    }
  }

  .par.active {
    border: 1px solid #000000;
  }

  .controlls {
    min-height: 72px;
    border-top: 1px solid #e6e6e6;
    display: block;
    padding: 12px 32px;
  }

  .text1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
  }

  .text2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #808080;
  }

  .text3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .text4 {
    font-size: 11px;
    line-height: 14px;
    color: #808080;
  }

  .text5 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #808080;
  }

  .text6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .text7 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .text-success {
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .text-black {
    color: #000000;
  }

  .ml-panel-confirming-page {
    // .total-counts,
    // .total-sum {
    //   font-size: 16px;
    //   line-height: 20px;
    //   display: flex;
    //   flex-flow: row nowrap;
    //   justify-content: space-between;
    //   letter-spacing: -0.03em;
    //   color: #808080;
    //   margin-bottom: 12px;
    // }

    .contacts {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .wrapper-alert {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 12px 32px;

    .black-alert {
      height: 48px;
      background: #1f1f1f;
      border-radius: 8px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: #cccccc;
      padding: 13px 23px;
    }

    i {
      color: #cccccc !important;
    }
  }

  .ml-basket-price-label {
    align-items: center;
    padding: 0px 4px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    bottom: 4px;
    right: 4px;
  }
}

.controlls {
  min-height: 72px;
  border-top: 1px solid #e6e6e6;
  display: block;
  padding: 12px 32px;
}

@media only screen and (min-width: 768px) {
  .mloyalty-panel-body {
    // padding-top: 60px;
    padding-bottom: 60px;
  }
}
