.mloyalty-panel-layout,
.mloyalty-panel-burger-layout {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}

.mloyalty-panel-burger-layout {
  .back-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.03em;
    color: #808080;
  }
}
