.quiz-wrapper {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.quiz-block {
  display: flex;
  flex-flow: column;
  padding: 24px;
  width: 240px;
  background: #f7f7f7;
  border-radius: 24px;
}

.quiz-wrapper-mobile {
  .quiz-block {
    width: 100%;
  }
}

.home-card {
  width: 100%;
}
