.ml-text-13-18 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.ml-text-13-18-500 {
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
}

.ml-text-13-22 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  opacity: 0.5;
}

.ml-title-14-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-15-18 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.5;
}

.ml-text-15-18-700 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.ml-text-15-22 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.ml-text-16-24-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-17-18 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.7;
}

.ml-text-18-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #999999;
}

.ml-text-18-32-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-19-22-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #000000;
}

.ml-text-20-22-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}

.ml-text-20-28-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-24-32-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-32-40-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-error-text {
  color: #e94574 !important;
}

.ml-success-text {
  color: #20ac69 !important;
}

.ml-text-green1 {
  color: #62b570;
}

.ml-text-red1 {
  color: #ec7070;
}

.ml-text-grey1 {
color: #B3B3B3;
}
