.ml-input,
.ml-select {
  .v-input__slot {
    border: none;
    border-radius: 6px;
    padding-left: 24px !important;
    padding-right: 24px !important;

    legend {
      width: inherit !important;
    }
  }

  fieldset {
    border: 1px solid #e6e6e6;
  }

  .v-label--active {
    top: 29px;
  }

  .v-text-field__slot {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.02em;

    color: #4d4d4d;
  }
}

.ml-select.v-input--is-focused,
.ml-input.v-input--is-focused {
  .v-input__slot {
    border: none;
  }

  fieldset {
    border: 1px solid #000000;
  }
}

.ml-input-noty {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-input.novalidate {
  .v-input__append-inner {
    display: none !important;
  }
}

.ml-input-prepend-inner {
  .v-input__icon--prepend-inner {
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #e6e6e6;
  }

  .v-label--active {
    left: 0 !important;
    top: 29px;
  }
  .v-input__prepend-inner i {
    font-size: 16px;
    color: black !important;
  }

  .v-input__prepend-inner i.primary--text {
    color: black !important;
  }
}

.ml-input-code,
.ml-input-code2 {
  margin: 0 10px;
}

/*Поле ввода кода верификации*/
input[type='text'].ml-input-code,
.ml-input-code {
  /* Remove First */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-width: 48px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

input[type='text'].ml-input-code2,
.ml-input-code2 {
  /* Remove First */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-width: 48px;
  background: #EBEBEB;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-input-code.invalid,
.ml-input-code2.invalid {
  /* Remove First */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
  border: 1px solid #e94574;
}

.ml-input-code:focus,
.ml-input-code2:focus {
  /* Remove First */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
  border: 1px solid #000000;
}

.ml-hide-details {
  .v-text-field__details {
    display: none;
  }
}

.ml-select {
}
