/* Titles */
.ml-title1-24-32-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-title2-40-32-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-title3-14-24 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #808080;
}

.ml-title-4-18-32-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-title-32-32-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-title-18-24 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
}

.ml-title-14-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-14-20-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.ml-text-16-24-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
}

.ml-text-16-24-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-16-24 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-13-16 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-13-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-16-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-20-32-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-text-13-24 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-text-11-14 {
  font-size: 11px;
  line-height: 14px;
  color: grey;
}

/*TEXT COLORS*/
.ml-text-red {
  color: #e94574 !important;
}

.ml-text-grey {
  color: #808080 !important;
}

.ml-text-black {
  color: #000000 !important;
}

.ml-text-grey1 {
  color: #4d4d4d !important;
}
