.ml-burger {
  position: absolute;
  top: 26px;
  right: 24px;
}

.ml-burger-back {
  position: absolute;
  top: 26px;
  left: 24px;
}

.ml-dashboard-layout {
  background-color: #f6f6f6;
}

.ml-client-info {
  // padding: 30px 46px 20px;
  // border-bottom: 1px solid #e6e6e6;
  padding: 40px 45px 0;
  flex-grow: 1;
}

.ml-client-orders {
  padding: 30px 46px 20px;
}

.ml-edit-fio-btn {
  background-color: #ebebeb;
}

.ml-order-block {
  background-color: white;
  border-radius: 8px;
  padding: 26px 22px;
  margin-bottom: 11px;
}

.ml-orders-list {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

// Panel burger transition
.ml-panel-burger-fade-enter {
  opacity: 0;
  transform: translate(2em, 0);
}

.ml-panel-burger-fade-leave-active {
  opacity: 0;
  transform: translate(-2em, 0);
}

.ml-panel-burger-fade-enter-active,
.ml-panel-burger-fade-leave-active {
  transition-duration: 0.25s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

// Panel burger transition END

.ml-burger-layout {
  padding-top: 80px;
}

.ml-burger-index {
  padding: 0px 66px;
}

.ml-burger-index-menu {
  list-style: none;

  li {
    margin-bottom: 32px;
  }
}

.ml-order-detail-position {
  padding: 30px 0;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ml-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #e6e6e6;
}

.ml-white-block {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}

.ml-controlls {
  border-top: 1px solid #e6e6e6;
  padding: 13px 47px;
}

.ml-wrapper-alert {
  z-index: 10;
  position: relative;
  width: 100%;
  padding: 12px 0px;

  .ml-black-alert {
    height: 48px;
    background: #1f1f1f;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #cccccc;
    padding: 13px 23px;
  }

  i {
    color: #cccccc !important;
  }
}

.mloyalty-faq-item {
  margin-bottom: 18px;

  .mloyalty-faq-arrow-right {
    margin-left: 12px;
    display: block;
  }
  .mloyalty-faq-arrow-down {
    display: none;
  }

  .mloyalty-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #4d4d4d;
  }

  .mloyalty-answer {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #808080;
  }
}

.mloyalty-faq-item.active {
  .mloyalty-faq-arrow-right {
    display: none;
  }
  .mloyalty-faq-arrow-down {
    display: block;
    margin-left: 12px;
  }
}
